.playBtn {
  width: 40px;
  height: 30px;
  background: none;
  position: relative;
  bottom: 38px;
  left: 17px;
}

p, h1, body {
  margin: 0;
  overflow: hidden;
}

.title {
  font-family: 'Satisfy', cursive;
  padding: 12px 12px 0;
  font-size: 27px;
  color: #d72c26;
}

p {
  font-family: 'Open Sans', sans-serif;
  padding: 0 12px;
  font-size: 12px;
}

.player-wrapper {
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
}
