{
  env: {
    es6: true,
    browser: true,
  },
  extends: "airbnb",
  parser: "babel-eslint",
  parserOptions: {
    ecmaVersion: 6,
    sourceType: "module",
    ecmaFeatures: {
      experimentalObjectRestSpread: true,
    }
  },
  rules: {
    "new-cap": "off",
    "max-len": ["error", 120],
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "no-console": "off",
    "no-undef": "off",
    "no-plusplus": "off",
    "class-methods-use-this": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off"
  }
}
