name: CI
env:
  node-version: 12

on:
  push:
    branches: [ main ]
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build and test
    strategy:
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
    runs-on: ${{ matrix.os }}

    steps:
    - name: Install Dependencies (Linux)
      if: matrix.os == 'ubuntu-latest'
      run: sudo apt-get install fakeroot dpkg rpm lintian gnupg2 xvfb flatpak flatpak-builder elfutils
    - name: Install Dependencies (macOS)
      if: matrix.os == 'macos-latest'
      run: brew install graphicsmagick imagemagick
    - name: Fix git checkout line endings
      run: git config --global core.autocrlf input
    - name: Get source
      uses: actions/checkout@v2
    - name: Use Node.js ${{ env.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ env.node-version }}
    - name: Install npm dependencies
      run: npm ci
    - name: Linting
      run: npm run lint

    - name: Install flatpak requirements
      if: matrix.os == 'ubuntu-latest'
      run: |
        flatpak --user remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
        flatpak --user --assumeyes install flathub org.freedesktop.Platform/x86_64/19.08 org.freedesktop.Sdk/x86_64/19.08 app/org.electronjs.Electron2.BaseApp/x86_64/stable

    - name: Building (Linux)
      if: matrix.os == 'ubuntu-latest'
      run: npm run build:linux
    - name: Building (macOS)
      if: matrix.os == 'macos-latest'
      run: npm run build:darwin
      env:
        CERT_PASSWORD: ${{ secrets.MACOS_CERT_PASSWORD }}
    - name: Building (Windows)
      if: matrix.os == 'windows-latest'
      run: npm run build:windows
      env:
        CERT_PASSWORD: ${{ secrets.WINDOWS_CERT_PASSWORD }}

    - name: Testing app
      uses: GabrielBB/xvfb-action@v1.0
      with:
        run: npm run test:app
    - name: Test Linux installers
      if: matrix.os == 'ubuntu-latest'
      run: npm run test:linux

    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: installers-${{ matrix.os }}
        path: build/installers/*

  publish:
    name: Publish to Github Releases
    needs: build
    runs-on: 'ubuntu-latest'
    if: startsWith(github.ref, 'refs/tags/')

    steps:
    - name: Get source
      uses: actions/checkout@v2
    - run: mkdir -p build/installers
    - name: Retrieve tags
      id: tags
      run: |
        git fetch --tags -f
        ./bin/getTags.sh
    - name: Download artifacts
      uses: actions/download-artifact@v2
      with:
        path: build/installers/
    - name: Move artifacts
      working-directory: build/installers/
      run: |
        find . -type f -exec mv {} . \;
        find . -type d -delete
    - name: Create a release
      uses: ncipollo/release-action@v1
      with:
        allowUpdates: true
        artifacts: build/installers/*
        body: https://github.com/headsetapp/headset-electron/compare/v${{ steps.tags.outputs.oldtag }}...v${{ steps.tags.outputs.newtag }}
        draft: true
        token: ${{ secrets.GITHUB_TOKEN }}

  linux_repo:
    name: Publish Linux repositories
    needs: build
    runs-on: 'ubuntu-latest'
    if: startsWith(github.ref, 'refs/tags/')

    steps:
    - name: Install Dependencies
      run: sudo apt-get install reprepro createrepo
    - name: Get source
      uses: actions/checkout@v2
    - run: mkdir -p build/installers
    - name: Download artifacts
      uses: actions/download-artifact@v2
      with:
        name: installers-ubuntu-latest
        path: build/installers/
    - name: Creating repositories
      run: |
        gpg --quiet --batch --yes --decrypt --passphrase=${{ secrets.LINUX_CERT_PASSWORD }} --output headset_priv.asc sig/headset_priv.asc.gpg
        npm run repo
    - name: Deploy Linux repositories
      uses: crazy-max/ghaction-github-pages@v1
      with:
        build_dir: gh-pages
        commit_message: Deploy ${{ github.event.release.tag_name }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  chocolatey:
    name: Publish to Chocolatey
    needs: build
    runs-on: 'windows-latest'
    if: startsWith(github.ref, 'refs/tags/')
    steps:
    - name: Get source
      uses: actions/checkout@v2
    - run: mkdir -p build/installers
    - name: Fix git checkout line endings
      run: git config --global core.autocrlf input
    - name: Download artifacts
      uses: actions/download-artifact@v2
      with:
        name: installers-windows-latest
        path: build/installers/
    - name: Creating nuspec
      run: npm run choco
    - name: Publishing
      working-directory: ./build
      run: choco push -s "https://push.chocolatey.org/" -k ${{ secrets.CHOCO_TOKEN }}
